{% extends "core/base.html" %}

{% block title %}My Threads{% endblock %}

{% block content %}
    <h1>My Threads</h1>
    {% if threads %}
        <ul>
            {% for thread in threads %}
            <li>
                <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a> at {{ thread.created_at }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any threads yet.</p>
    {% endif %}
{% endblock %}
