<!DOCTYPE html>
<html>
<head>
    <title>{{ thread.title }}</title>
</head>
<body>
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.content }}</p>
    <p>Posted by {{ thread.user.username }} at {{ thread.created_at }}</p>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.content }} by {{ comment.user.username }} at {{ comment.created_at }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <h2>Add a Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">Login to add a comment</a></p>
    {% endif %}
</body>
</html>
